*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  &:first-child {
    margin-top: 0;
  }
}

@import "layout/main";
@import "layout/aside";

@import "components/input";
